<section id="Education" class="box">
  <h2 class="lbl2-8">Education</h2>
  <div class="timeline">
    <div class="box2-1 col-4">
      <h3 class="period">2014 - 2016</h3>
      <div class="row2-1">
        <div class="group2-1">
          <span class="icon2-1 fa fa-file-text"></span>
          <span class="lbl2-10">Web Master / Web Developer</span>
        </div>
        <div class="group2-1">
          <span class="icon2-1 fa fa-university"></span>
          <span class="lbl2-10">Lipro University</span>
        </div>
      </div>
      <p class="lbl2-11">I completed this degree from this prestigious insitution. I successful completed all the credits without any fallout
        and got A grade overall.</p>
    </div>
    <div class="box2-1 col-4">
      <h3 class="period">2014 - 2016</h3>
      <div class="row2-1">
        <div class="group2-1">
          <span class="icon2-1 fa fa-file-text"></span>
          <span class="lbl2-10">Web Master / Web Developer</span>
        </div>
        <div class="group2-1">
          <span class="icon2-1 fa fa-university"></span>
          <span class="lbl2-10">Lipro University</span>
        </div>
      </div>
      <p class="lbl2-11">I completed this degree from this prestigious insitution. I successful completed all the credits without any fallout
        and got A grade overall.</p>
    </div>
    <div class="box2-1 col-4">
      <h3 class="period">2014 - 2016</h3>
      <div class="row2-1">
        <div class="group2-1">
          <span class="icon2-1 fa fa-file-text"></span>
          <span class="lbl2-10">Web Master / Web Developer</span>
        </div>
        <div class="group2-1">
          <span class="icon2-1 fa fa-university"></span>
          <span class="lbl2-10">Lipro University</span>
        </div>
      </div>
      <p class="lbl2-11">I completed this degree from this prestigious insitution. I successful completed all the credits without any fallout
        and got A grade overall.</p>
    </div>
  </div>
</section>
