<section id="Education" class="box animated fadeInUp">
  <h2 class="lbl2-8">Education</h2>
  <div class="timeline">
    <div class="box2-1 col-4" *ngFor="let education of lstEducation">
      <h3 class="period">{{education.year}}</h3>
      <div class="row2-1">
        <div class="group2-1">
          <span class="icon2-1 fa fa-file-text"></span>
          <span class="lbl2-10">{{education.level}}</span>
        </div>
        <div class="group2-1">
          <span class="icon2-1 fa fa-university"></span>
          <span class="lbl2-10">{{education.schoolname}}</span>
        </div>
      </div>
      <p class="lbl2-11">{{education.decription}}</p>
    </div>
  </div>
</section>
