<section id="Contact" class="box animated fadeInUp">
  <h2 class="lbl2-8">Contact Us</h2>
  <div class="container">
    <div class="map col-5">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d411.97129194333246!2d106.65103853472972!3d10.784211651864174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752eb7b3707505%3A0xe9351e7f7656a736!2zMTA1MiBM4bqhYyBMb25nIFF1w6JuLCBQaMaw4budbmcgOCwgVMOibiBCw6xuaCwgSOG7kyBDaMOtIE1pbmgsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1529403308749"
        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="contact col-7">
      <form class="form2-1" action="#">
        <input type="text" class="txt2-1" name="name" placeholder="Name">
        <input type="text" class="txt2-1" name="email" placeholder="Email">
        <input type="text" class="txt2-1" name="subject" placeholder="Subject">
        <textarea class="textarea2-1 txt2-1" name="Message" placeholder="Message"></textarea>
        <button class="btn2-1">Send message</button>
      </form>
    </div>
  </div>
</section>
