<section id="Experience" class="animated fadeInUp">
  <h2 class="lbl2-8">Experience</h2>
  <div class="timeline">
    <div class="line-header">
      <fa name="briefcase" fixed="true"></fa>
    </div>
    <ul class="tree">
      <li class="branch">
        <span class="branch-time">July 2017 - Current</span>
        <h3 class="branch-job">Front-End Developer and Web Designer</h3>
        <p class="branch-company">FPT Infomation System</p>
        <p class="branch-des">
          Lorem ipsum dolor sit amet, consectetur adipisci ng elit. In semper lacus tortor, quis bibendum odio mattis vitae. Cras porta
          massa pretium auctor congue. Suspendisse ante massa, euismod sit amet sem sed, viverra tristique diam.
        </p>
      </li>
      <li class="branch">
        <span class="branch-time">Jan 2015 - Current</span>
        <h3 class="branch-job">Wordpress Developer</h3>
        <p class="branch-company">Haravan</p>
        <p class="branch-des">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper lacus tortor, quis bibendum odio mattis vitae. Cras porta
          massa pretium auctor congue. Suspendisse ante massa, euismod sit amet sem sed, viverra tristique diam.
        </p>
      </li>
    </ul>
  </div>
</section>
