<section id="skill" class="box animated fadeInUp">
  <h2 class="lbl2-8">Skill</h2>
  <div class="wrapper">
    <div class="professtional col-5">
      <h3 class="title2-1">PROFESSIONAL SKILLS</h3>
      <ul class="lst-skill">
        <li class="items-skill" *ngFor="let skill of lstSkill">
          <p class="title-skill">
            <span class="lbl2-9">{{skill.title}}</span>
            <span class="lbl2-9">{{skill.percentage}}</span>
          </p>
          <p class="process">
            <span class="process-bar" [ngStyle]="{'width':skill.percentage}"></span>
          </p>
        </li>
      </ul>
    </div>
    <div class="additional col-7">
      <h3 class="title2-1">ADDITIONAL SKILLS</h3>
      <div class="chart">
        <div class="circle" *ngFor="let item of arrPie">
          <div class="percentage">{{item.percent}}%</div>
          <easy-pie-chart [percent]="item.percent" [options]="options"></easy-pie-chart>
          <div class="lbl2-10">{{item.name}}</div>
        </div>
      </div>
      <ul class="lst-skill">
        <li class="skill-item" *ngFor="let subskill of lstSubSkill">
          <fa name="check-square-o" fixed="true"></fa>
          <span class="lbl2-10">{{subskill}}</span>
        </li>
      </ul>
    </div>
  </div>
</section>
