<div class="login">
  <div class="login-card">
    <h3 class="lbl2-1">Sign in</h3>
    <input class="txt2-1" placeholder="Your Email Address" type="email">
    <input class="txt2-1" placeholder="Password" type="password">
    <div class="row2-1">
      <label class="group2-1">
        <input type="checkbox" class="cbo2-1" value="">
        <span class="check2-1">
          <i class="fa fa-check"></i>
        </span>
        <span class="lbl2-2">Remember me</span>
      </label>
      <a href="#" class="link2-1">Forgot Your Password?</a>
    </div>
    <button class="btn2-1" (click)="Login()">Sign in</button>
    <div class="row2-2">
      <p class="lbl2-3">Koolmaster</p>
      <p class="lbl2-3b">Innovations for Modern Life</p>
    </div>
  </div>
</div>
