/* You can add global styles to this file, and also import other style files */

@import "./assets/scss/helpers/_variables.scss";
@import "./assets/scss/helpers/_mixins.scss";
@import "./assets/scss/helpers/_function.scss";
@import "./assets/scss/helpers/_helpers.scss";
@import "./assets/scss/base/_reset.scss";
.section {
  background-color: color(main-white);
  @include box-shadow($box-shadow-section);
  font-family: $font-family;
  font-size: 1rem;
  margin-bottom: 80px;
}

.wrapper {
  @include display-flex(fgrid);
}

.lbl2-8 {
  color: color(primary);
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 80px;
  letter-spacing: 1.5px;
}


@include respond-to(mobile-l) {
  .additional {
    .chart .circle {
      width: unset;
    }
    .lst-skill .skill-item {
      text-align: left;
      width: 50%;
    }
  }
}

@include respond-to(ipad-p) {
  @include list-col();
  .content {
    width: 90%;
    padding: 80px 0;
  }
  // .professtional.col-5 {
  //   flex-basis: $width-5 - 1;
  // }
  // .additional.col-7 {
  //   flex-basis: $width-7 - 1;
  // }
  .additional {
    margin-top: 0;
  }
}

@include respond-to(ipad-l) {
  .professtional,
  .additional {
    padding: 0 30px 30px;
  }
  .additional {
    .lst-skill .skill-item {
      font-size: 1.1rem;
    }
  }
}

@include respond-to(destop) {
  .content {
    width: 1000px;
  }
}
