<div class="title2-1">Profile</div>
<div class="wrapper2-1">
  <div class="col-12">
    <app-card [title]="titleBlock1" [subtitle]="subtitleBlock1" [iconClass]="iconClass1" [classGrid]="false">
      <div class="form-group col-4">
        <p class="lbl2-1">Full name</p>
        <input [(ngModel)]="persional.fullname" type="text" class="txt2-1" placeholder="Full name">
      </div>
      <div class="form-group col-4">
        <p class="lbl2-1">Career</p>
        <input [(ngModel)]="persional.career" type="text" class="txt2-1" placeholder="Career">
      </div>
      <div class="form-group col-4">
        <p class="lbl2-1">Date of Birth</p>
        <input [min]="min" [(ngModel)]="persional.dateofbirth" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" type="text" class="txt2-1"
          placeholder="Career">
        <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
      </div>
      <div class="form-group col-4">
        <p class="lbl2-1">Phone</p>
        <input [(ngModel)]="persional.phone" type="number" class="txt2-1" placeholder="Phone">
      </div>
      <div class="form-group col-4">
        <p class="lbl2-1">Address</p>
        <input [(ngModel)]="persional.address" type="text" class="txt2-1" placeholder="Address">
      </div>
      <div class="form-group col-4">
        <p class="lbl2-1">Email</p>
        <input [(ngModel)]="persional.email" type="email" placeholder="Email" class="txt2-1">
      </div>
      <div class="form-group col-4">
        <p class="lbl2-1">Website</p>
        <input [(ngModel)]="persional.website" type="url" placeholder="http://" class="txt2-1">
      </div>
      <div class="form-group col-4">
        <p class="lbl2-1">Nationality</p>
        <input list="national" [(ngModel)]="persional.nationality" type="text" placeholder="Nationality" class="txt2-1">
        <datalist id="national">
          <option *ngFor="let item of nationality" [value]="item.en_short_name">
        </datalist>
      </div>
      <div class="form-group col-12">
        <p class="lbl2-1">About me</p>
        <textarea [(ngModel)]="persional.aboutme" rows="5" class="txt2-1" placeholder="About me"></textarea>
      </div>
      <div class="form-group col-12">
        <p class="lbl2-1 style2-1">Social list</p>
        <div class="lst2-2">
          <div class="item2-3" *ngFor="let item of persional.social,let i = index" [ngClass]="{'open': collape == i}">
            <div class="wrapper2-2" (click)="toggleOpen(i)">
              <p class="icon2-2" [ngClass]="item.icon"></p>
              <p class="lbl2-3">{{ item.name }}</p>
            </div>
            <div class="wraper2-3">
              <input [(ngModel)]="item.link" type="text" placeholder="link" class="txt2-1">
              <button class="btn2-2">Save</button>
            </div>
          </div>
        </div>
      </div>
      <div class="form-btn col-12">
        <button type="submit" class="btn2-1" (click)="updateProfile()">Save</button>
      </div>
    </app-card>
  </div>
  <div class="col-12">
    <app-card [title]="titleBlock3" [subtitle]="subtitleBlock3" [iconClass]="iconClass3" [classGrid]="false">

    </app-card>
  </div>
</div>
