<div class="title2-1">Profile</div>
<div class="wrapper2-1">
  <div class="col-12">
    <app-card [title]="titleBlock1" [subtitle]="subtitleBlock1" [iconClass]="iconClass1" [classGrid]="false">
      <div class="form-group col-4">
        <p class="lbl2-1">Full name</p>
        <input [(ngModel)]="persional.fullname" type="text" class="txt2-1" placeholder="Full name">
      </div>
      <div class="form-group col-4">
        <p class="lbl2-1">Career</p>
        <input [(ngModel)]="persional.career" type="text" class="txt2-1" placeholder="Career">
      </div>
      <div class="form-group col-4">
        <p class="lbl2-1">Date of Birth</p>
        <input [min]="min" [(ngModel)]="persional.dateofbirth" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" type="text"
          class="txt2-1" placeholder="Career">
        <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
      </div>
      <div class="form-group col-4">
        <p class="lbl2-1">Phone</p>
        <input [(ngModel)]="persional.phone" type="number" class="txt2-1" placeholder="Phone">
      </div>
      <div class="form-group col-4">
        <p class="lbl2-1">Address</p>
        <input [(ngModel)]="persional.address" type="text" class="txt2-1" placeholder="Address">
      </div>
      <div class="form-group col-4">
        <p class="lbl2-1">Email</p>
        <input [(ngModel)]="persional.email" type="email" placeholder="Email" class="txt2-1">
      </div>
      <div class="form-group col-4">
        <p class="lbl2-1">Website</p>
        <input [(ngModel)]="persional.website" type="url" placeholder="http://" class="txt2-1">
      </div>
      <div class="form-group col-4">
        <p class="lbl2-1">Nationality</p>
        <input list="national" [(ngModel)]="persional.nationality" type="text" placeholder="Nationality" class="txt2-1">
        <datalist id="national">
          <option *ngFor="let item of nationality" [value]="item.en_short_name">
        </datalist>
      </div>
      <div class="form-group col-12">
        <p class="lbl2-1">About me</p>
        <textarea [(ngModel)]="persional.aboutme" rows="7" class="txt2-1" placeholder="About me"></textarea>
      </div>
      <div class="form-group col-12">
        <p class="lbl2-1 style2-1">Social list</p>
        <div class="lst2-2">
          <div class="item-wrapper" *ngFor="let item of social,let i = index">
            <div class="item2-3" *ngIf="item.status" [class]="item.name" [ngClass]="{'open': collape == i}">
              <div class="wrapper2-2" (click)="toggleOpen(i)">
                <fa class="icon2-2" [name]="item.icon" fixed="true"></fa>
                <p class="lbl2-3">{{ item.name }}</p>
              </div>
              <div class="wraper2-3">
                <input [(ngModel)]="item.link" type="text" placeholder="link" class="txt2-1">
                <button class="btn2-2" (click)="updateSocialItem(item)">Save</button>
              </div>
            </div>
          </div>
          <div class="item2-3 plus" (click)="openModal()">
            <fa class="icon2-2" name="pencil" fixed="true"></fa>
            <p class="lbl2-4">Edit social</p>
          </div>
        </div>
      </div>
      <div class="form-btn col-12">
        <button type="submit" class="btn2-1" (click)="updateProfile()">Save</button>
      </div>
    </app-card>
  </div>
  <div class="col-12">
    <app-card [title]="titleBlock3" [subtitle]="subtitleBlock3" [iconClass]="iconClass3" [classGrid]="false" *ngIf="interest">
      <div class="form-group col-12">
        <p class="lbl2-1">Personal preferences</p>
        <textarea [(ngModel)]="interest.des" rows="7" class="txt2-1" placeholder="Personal preferences"></textarea>
      </div>
      <div class="form-group col-12">
        <p class="lbl2-1 style2-1">Interest list</p>
        <div class="lst2-2 style2-1">
          <div class="item2-4" *ngFor="let item of interest.list">
            <img class="img2-1" [src]="item.icon" [alt]="item.name" />
            <p class="lbl2-4">{{item.name}}</p>
          </div>
        </div>
      </div>
      <div class="form-btn col-12">
        <button type="submit" class="btn2-1" (click)="updateInterest(interest)">Save</button>
      </div>
    </app-card>
  </div>
</div>
<app-modal [(modalOpen)]="modalOpen" (isModalOpen)="openModal($event)" [modalHeader]="modalHeader">
  <div class="lst2-social lst2-2">
    <label class="item2-3" *ngFor="let item of social,let i = index" [ngClass]="{'open': collape == i}">
      <input type="checkbox" [(ngModel)]="item.status" value="" class="cbo2-2">
      <div class="wrapper2-2" [ngClass]="item.status ? item.name: '' ">
        <fa class="icon2-2" [name]="item.icon" fixed="true"></fa>
        <p class="lbl2-3">{{ item.name }}</p>
      </div>
    </label>
  </div>
  <button class="btn2-4" (click)="updateSocial(social)">Save List</button>
</app-modal>
