<section id="Education" class="box">
  <h2 class="lbl2-8">Portfolio</h2>
  <ul class="lst2-1">
    <li class="item2-1 active">All</li>
    <li class="item2-1">Web Design</li>
    <li class="item2-1">App Design</li>
    <li class="item2-1">Development</li>
  </ul>
  <ul class="lst2-2">
    <li class="item2-2 col-4">
      <img class="img2-1" src="http://junaidhira.com/demo/html/tile/img/portfolio/p-1.jpg" alt="">
      <div class="group2-1">
        <div class="box2-2">
          <div class="row2-1">
            <p class="lbl2-2">Angular</p>
            <p class="lbl2-2">C#</p>
          </div>
          <a class="row2-1b" href="single-portfolio.html">Đây là sản phẩm của tui</a>
          <a class="row2-1c fa fa-picture-o"></a>
          <a class="row2-1c style2-1 fa fa-link"></a>
        </div>
      </div>
    </li>
    <li class="item2-2 col-4">
      <img class="img2-1" src="http://junaidhira.com/demo/html/tile/img/portfolio/p-4.jpg" alt="">
      <div class="group2-1">
        <div class="box2-2">
          <div class="row2-1">
            <p class="lbl2-2">Angular</p>
            <p class="lbl2-2">C#</p>
          </div>
          <a class="row2-1b" href="single-portfolio.html">Đây là sản phẩm của tui</a>
          <a class="row2-1c fa fa-picture-o"></a>
          <a class="row2-1c style2-1 fa fa-link"></a>
        </div>
      </div>
    </li>
    <li class="item2-2 col-4">
      <img class="img2-1" src="http://junaidhira.com/demo/html/tile/img/portfolio/p-2.jpg" alt="">
      <div class="group2-1">
        <div class="box2-2">
          <div class="row2-1">
            <p class="lbl2-2">Angular</p>
            <p class="lbl2-2">C#</p>
          </div>
          <a class="row2-1b" href="single-portfolio.html">Đây là sản phẩm của tui</a>
          <a class="row2-1c fa fa-picture-o"></a>
          <a class="row2-1c style2-1 fa fa-link"></a>
        </div>
      </div>
    </li>
    <li class="item2-2 col-4">
      <img class="img2-1" src="http://junaidhira.com/demo/html/tile/img/portfolio/p-3.jpg" alt="">
      <div class="group2-1">
        <div class="box2-2">
          <div class="row2-1">
            <p class="lbl2-2">Angular</p>
            <p class="lbl2-2">C#</p>
          </div>
          <a class="row2-1b" href="single-portfolio.html">Đây là sản phẩm của tui</a>
          <a class="row2-1c fa fa-picture-o"></a>
          <a class="row2-1c style2-1 fa fa-link"></a>
        </div>
      </div>
    </li>
  </ul>
</section>
