@import "../../../assets/scss/helpers/_variables.scss";
@import "../../../assets/scss/helpers/_mixins.scss";
@import "../../../assets/scss/helpers/_function.scss";
.lst2-1 {
  margin-bottom: 25px;
  text-align: center;
  @include display-flex();
  .item2-1 {
    color: #757575;
    display: inline-block;
    padding: 10px 20px;
    margin: 0px 7px 14px;
    cursor: pointer;
    @include transition-custom(all .8s);
    &.active {
      background-color: color(primary);
      color: #ffffff;
      box-shadow: 0 0 10px rgba(0, 0, 0, .1), 0 0 15px rgba(0, 0, 0, .08);
      &:hover {
        background-color: color(primary);
      }
    }
    &:hover {
      background-color: #ffffff;
      box-shadow: 0 0 10px rgba(0, 0, 0, .1), 0 0 15px rgba(0, 0, 0, .08);
    }
  }
}

.lst2-2 {
  @include display-flex(fgrid);
  .item2-2 {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    @include transition-custom(all 0.3s);
    -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20);
    &:hover {
      -webkit-box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.12), 0px 1px 12px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.12), 0px 1px 12px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.12), 0px 1px 12px rgba(0, 0, 0, 0.25);
      .img2-1 {
        @include transform-rotate(scale(1.2));
      }
      .row2-1c {
        opacity: 1;
        @include transition-custom(all 0.5s 0.2s);
        @include transform-rotate(scale(1));
      }
    }
  }
  .img2-1 {
    width: 100%;
    display: block;
    position: relative;
    @include transform-rotate(scale(1));
    @include transition-custom(all 0.5s);
  }
  .group2-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    text-align: center;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    background: -webkit-linear-gradient(transparent, rgba(12, 24, 36, 1));
    background: -moz-linear-gradient(transparent, rgba(12, 24, 36, 1));
    background: -o-linear-gradient(transparent, rgba(12, 24, 36, 1));
    background: linear-gradient(transparent, rgba(12, 24, 36, 1));
    @include transition-custom(all 0.5s);
    &:hover {
      .row2-1b {
        margin-bottom: 65px;
      }
    }
    .box2-2 {
      position: absolute;
      text-align: left;
      width: calc(100% - 50px);
      margin: 0px 25px;
      bottom: 0;
      background: transparent;
      opacity: 1;
      @include transition-custom(all 0.5s);
    }
    .lbl2-2 {
      display: inline-block;
      font-size: 0.9rem;
      color: #ffffff;
      text-transform: capitalize;
      &:after {
        content: '|';
        display: inline-block;
        font-size: 14px;
        margin: 0 8px;
      }
      &:last-child::after {
        display: none;
      }
    }
    .row2-1b {
      margin: 10px 0 65px;
      display: block;
      @include transition-custom(all 0.5s);
      font-family: $font-family;
      font-size: 1.2rem;
      line-height: 20px;
      color: #ffffff;
      text-transform: capitalize;
      letter-spacing: 1px;
    }
    .row2-1c {
      background-color: color(primary);
      cursor: pointer;
      display: inline-block;
      overflow: hidden;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: transparent;
      vertical-align: middle;
      z-index: 1;
      will-change: opacity, transform;
      color: #ffffff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20);
      -moz-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20);
      box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20);
      position: absolute;
      bottom: 15px;
      left: 0;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 14px;
      opacity: 1;
      @include transform-rotate(scale(1));
      @include transition-custom(all 0.5s);
      &.style2-1 {
        left: 55px;
      }
      &:after {
        display: inline-block;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #ffffff;
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        @include transform-rotate(scale(0));
        @include transition-custom(all 0.5s);
      }
      &:hover {
        color: color(primary);
        &:after {
          opacity: 1;
          visibility: visible;
          @include transform-rotate(scale(1));
        }
      }
    }
  }
}

@include respond-to(mobile-l) {
  .lst2-1 {
    justify-content: center;
    margin-bottom: 45px;
    .item2-1 {
      padding: 10px 25px;
    }
  }
  .lst2-2 .item2-2 {
    margin-bottom: 2%;
  }
  .col-4 {
    flex-basis: 49%;
    max-width: 49%;
  }
}

@include respond-to(ipad-l) {
  .col-4 {
    flex-basis: 32.33333333%;
    max-width: 32.33333333%;
  }
}

@include respond-to(destop) {
  .lst2-2 .group2-1 .row2-1b {
    margin: 10px 0 20px;
  }
  .lst2-2 .group2-1 .row2-1c {
    opacity: 0;
    @include transform-rotate(scale(0));
  }
  .lst2-2 .item2-2 {
    margin-bottom: 1.5%;
  }
}
