// Sass Variables
$font-family: 'Oswald',sans-serif;
$font-letter: 'Dosis',sans-serif;
// Color
$colors: ( 
    primary: #0487cc,
    main-bg: #efefef,
    main-black: #000000,
    main-white: #ffffff,
    main-brown: #757575
);
// Resonsive
$mobile-min-landscape: 480px;
$ipad-portrait: 768px;
$ipad-mid-landscape: 992px;
$ipad-landscape: 1024px;
$destop-medium: 1280px;
//Width col
$col-count: 12;
$name: col !default;
//Box shadow
$box-shadow-section: 0px 1px 6px rgba(0, 0, 0, 0.10),0px 1px 6px rgba(0, 0, 0, 0.20);
$box-shadow-item: rgba(0, 0, 0, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.11) 0px 2px 10px 0px;
$box-shadow-1: 0 0 5px rgba(0, 0, 0, .4);
$box-shadow-hover: 0 0 8px rgba(0, 0, 0, .30),0 0 12px rgba(0, 0, 0, .20);

/* =============================================
	EXTEND SASS
 ============================================= */

%color-font {
  color: color(font-color);
}

%lbl-p {
  text-overflow: clip;
  white-space: normal;
  overflow: visible;
  line-height: 1.8rem;
}

%effect-btn1 {
  :active,
  &.activated {
    top: 3px;
    box-shadow: none;
  }
}

